.descname {
    color: #2980b9 !important;
}

.rst-content dl dt {
    font-weight: normal !important;
}

html[data-theme="dark"].writer-html4 
.rst-content dl:not(.docutils) > dt, 
html[data-theme="dark"].writer-html5 
.rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not( .glossary ):not(.simple) > dt {
    background-color: #292929 !important;
}

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 90%;
    margin: auto;
}

html[data-theme="dark"] .rst-content div[class^="highlight"] {
    border-color: #595959 !important;
}

html[data-theme="dark"] .highlight {
    background-color: #292b35 !important;
}

html[data-theme="dark"] .go {
    color: #bdbdbd !important;
}

/* html[data-theme="dark"] .st1 {fill:#f2f2f2;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.75}
html[data-theme="dark"] .st2 {fill:#ffffff;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.75}
html[data-theme="dark"] .st3 {fill:#7f7f7f;font-family:Calibri;font-size:0.833336em}
html[data-theme="dark"] .st4 {fill:#000000;font-size:1.20001em}
html[data-theme="dark"] .st5 {fill:#000000;font-size:1.20001em;font-weight:bold}
html[data-theme="dark"] .st6 {fill:#ffffff}
html[data-theme="dark"] .st7 {fill:#000000;font-family:Calibri;font-size:0.833336em;font-weight:bold}
html[data-theme="dark"] .st8 {fill:#7f7f7f}
html[data-theme="dark"] .st9 {stroke:#000000;stroke-dasharray:1.5,0.75;stroke-linecap:butt;stroke-width:0.75}
html[data-theme="dark"] .st10 {fill:#000000;font-family:Calibri;font-size:0.833336em}
html[data-theme="dark"] .st11 {fill:#000000;font-family:Calibri;font-size:0.666664em} */
html[data-theme="dark"] .st12 {stroke:#919191 !important;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.75}
html[data-theme="dark"] .st13 {stroke:#fffcfc !important;stroke-dasharray:5.25,3.75;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.75}
html[data-theme="dark"] .st14 {fill:none;stroke:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.75}
/* html[data-theme="dark"] .st15 {fill:#000000;font-family:Calibri;font-size:1.16666em;font-weight:bold}
html[data-theme="dark"] .st16 {fill:#000000;font-family:Calibri;font-size:0.916672em;font-weight:bold}
html[data-theme="dark"] .st17 {fill:none;fill-rule:evenodd;font-size:12px;overflow:visible;stroke-linecap:square;stroke-miterlimit:3} */

